body {
    margin: 20px;
}
textarea {
    resize: none;
}

.btn-group {
    margin: 2px;
}

#data #panel-start {
    margin-top: 15px;
}

#result .result-data {
    max-height: 80px;
    overflow: auto;
}

#result-template {
    display: none;
}

#preloader.hidden {
    display: none;
}
